.btn {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  cursor: pointer;
}

.full {
  width: 100%;
}

.icons {
  padding: 4px;

  svg {
    font-size: 18px;
  }

  &:hover {
    transition: var(--fade);
  }
}
