body {
  background: var(--primary-color);
  color: #fff;
}
.navbar {
  .header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.layout {
  .grid {
    display: grid;
    grid-template-columns: 336.39px 1fr 336px;
    min-height: 100vh;

    .sidebar {
      background: var(--h1-color);
    }
    .main {
      padding: 0 10px;
      min-width: 597.22px;
      background: var(--primary-color);
    }
    .extra {
      background: var(--btn-hover-color);
    }
  }
}
